body {
  background: #0f172a;
  font-family: Arial, sans-serif;
  color: #e5e7eb;
}

.container {
  width: 400px;
  margin: 60px auto;
  background: #020617;
  padding: 25px;
  border-radius: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 12px;
  font-size: 14px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 6px;
  border: none;
  outline: none;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background: #38bdf8;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #0ea5e9;
}

#error {
  color: #f87171;
  margin-top: 10px;
  text-align: center;
}
